* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Chelsea Market', cursive;
}

p {
  font-family: 'Chelsea Market', cursive;
  margin: 15px 0px;
  line-height: 25px;
}

header {
  font-family: 'Chelsea Market', cursive;
  text-align: center;
  background: #aedb75;
  padding: 8px 0;
  position: fixed;
  left: 0;
  right: 0;
}

header nav ul li {
  display: inline;
}

header nav a {
  color: #3b4562;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
  margin: 0 20px
}

header nav a:hover {
  color: white;
}

header nav a:active {
  color: #64869f
}

.hero-images-section {
  background-image: url("../images/mountainhorse.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.horses-section {
  padding: 65px 0;
}

.horses-section h1 {
  font-size: 40px;
  text-align: center;
}

.breeds {
  width: 250px;
  display: inline-block;
}

.breeds img {
  width: 900px;
}

.breeds {
  text-align: center;
}

footer {
  font-family: 'Chelsea Market', cursive;
  text-align: center;
  background: #aedb75;
  padding: 8px 0;
  position: fixed;
  left: 0;
  right: 0;
}
